//font-family: 'SFNSDisplay';
//font-family: 'PatuaOne-Regular';
//font-family: 'HelveticaReg';
$ff-main-title: 'SFNSDisplay';
$ff-title: 'PatuaOne-Regular';
$ff-text: 'HelveticaReg';

$second-color: #ff6161;
$third-color: #4d60cc;
$text-color: #2c2c2c;